* {
  scrollbar-width: thin;
  scrollbar-color: #c4c4ce transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4ce;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0b0;
}

@media (max-width: 767px) {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}