@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

* {
  caret-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  caret-color: auto;
  -webkit-user-select: text;
  user-select: text;
}
